.lightning-card {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.header {
    margin-left: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.logo {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.input-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.input-field {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.confirm-button {
    flex-shrink: 0;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    cursor: pointer;
}

.confirm-button:hover {
    background-color: #005bb5;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.box {
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.animal-photo {
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.no-animals-message {
    font-size: 18px;
    color: #666;
    margin-top: 20px;
}
