.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
}
.box {
    display: flex;
    flex-direction: column;
}

img {
    display: block;
    width: 40%;
    max-width: 500px;
    height: 50%;
}